* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-item {
    flex: 1 1 calc(20% - 20px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.book-cover {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

/* .book-title {

}

.book-author {

} */

@media (max-width: 800px) {
    .book-item {
        flex: 1 1 calc(33.33% - 20px);
        transform: scale(0.95);
        opacity: 0.9;
    }
}

@media (max-width: 500px) {
    .book-item {
        flex: 1 1 100%;
        transform: scale(0.99);
        opacity: 0.8;
    }
}