* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
}

#book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.book-item {
    padding: 5px;
    margin-bottom: 10px;
}

.book-cover {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

/* .book-title {

}

.book-author {

} */

@media (max-width: 800px) {
    #book-list {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}

@media (max-width: 500px) {
    #book-list {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}